<div class="logo-container visible-desktop logo-big">
	<i class="icon-book book"></i>
	<i class="icon-bookmark bookmark"></i>
</div>

<div class="flatware-container">
	<i class="flatware"></i>
</div>

<div class="row" style="padding-bottom: 10px;">
	<div class="span9 offset3">
		<i class="page-title">recipe <img src="img/logo-small.png" class="logo-small hidden-desktop"> book</i>
	</div>
</div>

<div class="row">
	<div class="form-search">
		<div class="input-append">
			<!-- 
			<div class="span9 offset2">
				<input type="text" placeholder="Search.." data-provide="typeahead" class="searchBar search-query" style="height: 40px" id="searchInput">
			</div>
			<div class="span2">
				<button class="btn btn-primary doSearch" style="height: 50px; width:100px"><i class="icon-search icon-white"></i></button>
			</div>
			 -->
			<div class="span1 visible-desktop"></div>
			<div class="span9 offset1"> 
				<input type="text" placeholder="Search.." class="searchBar search-query" style="height: 40px;" id="searchInput">
				<button class="btn btn-primary doSearch"><i class="icon-search icon-white"></i></button>
			</div>
		</div>
	</div>
	<br />
	<div class="span3 offset2">
		<a href="#" id="backToAdvancedSearch"> Ricerca avanzata </a>
	</div>
	<br />
</div>
<!--<div class="row">
	<div class="span6 offset4 alert alert-info">
		<p style="width:70%; margin:auto">
			<button class="btn btn-link"> Se non sei soddisfatto della ricerca puoi tornare alla schermata di filtro cliccando qui</button>
		</p>
	</div>
</div>-->
<br /><br />
<div class="row">
	{{#if recipes}}
		{{# if likesMode }}
			<div class="alert alert-success span6 offset4">
				<i class="icon-thumbs-up icon-4x pull-left"></i>
		 			Ecco le tue ricette preferite!<br />
		 			Se vuoi cercare altre ricette (e aggiungerle alla tua lista!) usa la barra di ricerca qui sopra<br/>
			</div>
		{{/if}}	
	{{/if}}

	<div class="span12 offset1" id="imagesContainer">
		{{#each  recipes}}
			<div class="imageContainer">
				<a href="#" class="recipeThumb" data-hash="{{ recipeHash }}" rel="popover" data-trigger="hover" data-title="{{title}}" data-html="true" data-placement="top" data-content="{{popoverSummary}}">
					<i class="icon-bookmark imgBookmark {{ itemClass }}"></i>
					<img class="thumbnail lazy" src="img/placeholder.gif" data-original="{{ imgUrl }}" alt="" style="width:{{ width }}px; height:{{ height }}px">
				</a>
			</div>
		{{else}}
			{{# if likesMode }}
				<div class="row">
					<div class="alert alert-info span7 offset2">
							<i class="icon-thumbs-up icon-4x pull-left"></i>
	 						Non hai ancora aggiunto nessuna ricetta alla tua lista delle ricette preferite!<br /> 
	 						Quando trovi una ricetta che ti piace clicca sul like e in futuro potrai ritrovarla facilmente!<br /> 
	 						Recipe Book inoltre imparer&agrave; dalle tue scelte per offrirti risultati migliori
					</div>
				</div>
			{{else}}
					<div class="alert alert-warning span6 offset3">
							<i class="icon-warning-sign icon-4x pull-left"></i>
	 						Non abbiamo trovato nessun risultato per la tua ricerca<br />
					</div>
			{{/if}}
		{{/each}}
	</div>
</div>
 
<!-- Modal -->
<div id="recipeModal" class="hide fade recipeModal" tabindex="-1" role="dialog"  aria-hidden="true">
</div>
<br /><br /><br /><br />