  <div class="modal-header" style="text-align:right">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</button>
  </div>
  <div class="recipeModal-body">
    <div class="row">
    	<div class="span3">
    		<img src="{{ recipe.imgUrl }}" class="img-rounded" />
    		<i class="icon-thumbs-up thumbs {{#if recipe.like}} thumbs-on {{/if}}" 
    			 id="like" data-recipeHash="{{ recipe.recipeHash }}"></i>
    	</div>
    	<div class="span4">
    		<h2> {{{ recipe.title }}}</h2>
    		<a href="{{ recipe.url }}" target="_blank">Vai alla ricetta</a>
    		<h4>Categorie</h4>
    		<p>
    			{{#each recipe.categories}}
    				<b><a href="#" class="catLink" >{{ this }}</a></b>,
    			{{/each}}
    		</p>
    	</div>
    </div>
    <div class="row">
    	<div class="bs-docs-example span4">
    		<ul class="nav nav-tabs">
			  <li><a href="#ingredienti" data-toggle="tab">Ingredienti</a></li>
			  <li><a href="#infoGenerali" data-toggle="tab">Informazioni generali</a></li>
			</ul>
			<div class="tab-content">
				<div id="ingredienti" class="tab-pane fade">
	    			<dl>
	    				{{#each recipe.ingredients}}
	    					<dt><a href="#" class="ingLink">{{{ name }}}</a></dt>
	    					<dd>
	    						{{{ amount }}} 
	    						<span style="font-size:80%">
	    							<a href="{{ url }}" target="_blank">Pagina Ingrediente</a>
	    						</span>
	    					</dd>
	    				{{/each}}
		    		</dl>
	    		</div>
	    		<div id="infoGenerali" class="tab-pane fade active in">
	    			<dl>
	    				{{#if recipe.difficulty }}
			    			<dt> Difficolt&agrave; </dt>
			    			<dd> {{{ recipe.difficulty }}} </dd>	    				
	    				{{/if}}
	    				
	    				{{#if recipe.prepareTime }}
			    			<dt> Tempo di Preparazione </dt>
			    			<dd> {{{ recipe.prepareTime }}} </dd>	    				
	    				{{/if}}
	    				
	    				{{#if recipe.coockTime }}
			    			<dt> Tempo di Cottura </dt>
			    			<dd> {{{ recipe.coockTime }}} </dd>	    				
	    				{{/if}}
	    				
	    				{{#if recipe.numberOfPeople }}
			    			<dt> Dosi per </dt>
		    				<dd> {{{ recipe.numberOfPeople }}} </dd>    				
	    				{{/if}}
	    				
	    				{{#if recipe.price }}
	    					<dt> Costo </dt>
		    				<dd> {{{ recipe.price }}} </dd>
	    				{{/if}}
		    		</dl>
		    		<br />
		    		{{{ recipe.note }}}
	    		</div>
    		</div>
    	</div>

    	<div class="span5 recipeDescription">
    		{{{ recipe.summary }}}
    		{{{ recipe.preparation }}}
    	</div>
   	</div>
  </div>