body {
	/* background: rgba(77,140,198,0.3); */
	/* background: url("../img/satinweave.png"); */
}

/* logo */
.logo-container {
	top: 8px; 
	margin-left: 130px; 
	display: block; 
	position: absolute; 
	z-index: -1;
}
.book {
  font-size: 120pt; 
  display: block;
}
.bookmark {
	display: block;
  font-size: 25pt; 
  margin-top: -35px; 
  margin-left: 15px; 
  color: #4d8cc6;
}

/* logo small */
.logo-small {
	display: inline-block;
}

/* titolo */
.page-title {
  font-size: 30pt; 
  font-weight: bold; 
  letter-spacing: 2px;
}

/* posate */
.flatware-container {
	top: 150px; 
	right: 20px; 
	display: block; 
	position: absolute; 
	z-index: -2;
	overflow: hidden;
}
.flatware {
	font-size: 400pt; 
  display: block; 
	color: #efefef;
}

/* etichetta immagine */
a .imgBookmark {
	position: relative;
	display:block;
	margin-bottom: -26px;
	margin-left: 7px;
	font-size: 20pt;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	text-decoration: none;
}
.imgBookmark-red { color: #E8332A; }
.imgBookmark-green { color: #46A546; }
.imgBookmark-yellow { color: #FFC40D; }


#content {
	width: 95%;
	height: 100%;
	margin: auto;
	margin-top: 10px;
	/*background-color: #999;*/
}

/*
	Prima pagina
*/

.btn.btn-primary.doSearch {
	height: 50px;
	width:100px;
}

.searchBar {
	width: 100%;
	height: 300px;
}

#advancedSearchDiv {
	display: none;
}

.ingredient {
	margin-top: 5px;
	margin-bottom: 5px;
}

#advancedSearchDiv  fieldset {
	margin-top: 60px;
	margin-bottom: 30px;
}

.nabBar {
	margin-top: 35px;
	position: fixed;
}

/*
	seconda pagina
*/
.caption {
    /*text-align:center;
    font-weight: bold;
    width: 210px;*/
}

.customGrid > li {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 200px;
}

.recipeModal {
  position: fixed;
  top: 2%;
  left: 15%;
  z-index: 1050;
  width: 70%;
  height: auto;
  margin-left: 0px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.recipeModal-body {
  position: relative;
  padding: 15px;
  overflow-y: auto;
  max-height: 600px;
}

.recipeModal dd {
	font-size: 80%;
	color: #999;
}

.recipeModal dt {

}

.recipeDescription {
  text-align:justify;
}

.thumbnail {
  height: 150px;
  width: 210px;
}

/* like */
.thumbs {
	position: relative;
	display:block;
	padding-top: 5px;
	font-size: 20pt;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	text-align: right;
	cursor: pointer;
	margin-top: -33px;
	padding-right: 10px;
	background: rgba(0,0,0,0.4);
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px; 
}
.thumbs:hover {
	color: #ffc40d;
	cursor: pointer;
}
.thumbs-on {
	color: #ffc40d;
	cursor: default;
}
.thumbs-on:hover {
	cursor: default;
}

.nav.nav-list.bs-docs-sidenav.nabBar { background: none; }
.nav.nav-list.bs-docs-sidenav.nabBar li { background: rgba(255,255,255,0.6); }

.jslider-value { background: none; }


@media (max-width: 768px) {
	/* .btn.btn-primary.doSearch { height: 40px !important; } */
	/*#searchInput { width: 100%; }*/
}
@media (max-width: 980px) {
	#recipeModal { width: 90% !important; margin-left: -10%; }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .logo-big { margin-left: 70px; }
}
/*
@media (min-width: 1200px) {
  .logo-big { display: inherit !important; }
}
*/